<!DOCTYPE html>
<html lang="pt-BR" ng-app="minimercado">
	<head>
		<meta charset="utf-8">

		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		<title>index</title>
		<meta name="description" content="">
		<meta name="author" content="Raissa Arruda">
		<meta name="viewport" content="width=device-width; initial-scale=1.0">
		<!--Estilos-->
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/app.css" rel="stylesheet" />
		<!--Scripts-->
		<script src="lib/angular.js"></script>
		<script src="js/app.js"></script>
		<script src="js/controllers/usuariosController.js"></script>

	</head>

	<body ng-controller="usuariosController as vm">

		<div class="clearfix" style="margin-bottom:20px;"></div>

		<div class="container centralizarLogin">
			<form class="form-horizontal" >
				<div class="form-group">
					<label class="col-sm-2 control-label">Usuário</label>
					<div class="col-sm-10">
						<input type="email" class="form-control"  placeholder="usuario">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Senha</label>
					<div class="col-sm-10">
						<input type="password" class="form-control"  placeholder="senha">
					</div>
				</div>

				<div class="form-actions ">
					{{usuarios}}
					<button type="button"  data-toggle="modal" data-target="#modalCadastro"class="btn btn-danger pull-left">
						Cadastrar
					</button>
					<button type="submit"  class="btn btn-info pull-right">
						Entrar
					</button>

				</div>

			</form>

		</div>

		<!--Modal de Cadastro-->
		<div class="modal fade" id="modalCadastro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="myModalLabel">Cadastro</h4>
					</div>
					<div class="modal-body">
						<form novalidate name="customerForm" ng-submit="vm.save(vm.customer)">
							<div class="form-group"  ng-class="{'has-error' : customerForm.name.$invalid && !customerForm.name.$pristine}">
								<label class=" control-label">Nome: {{nomeUsuario}}</label>
								<input name:"nomeUsuario" type="text" class="form-control" placeholder="Como gostaria de ser chamado?" required ng-minlength="3" ng-model="nomeUsuario">
								<p ng-show="customerForm.nomeUsuario.$error.minlength"
								class="help-block">
									Name too short!
								</p>
							</div>
							<div class="form-group">
								<label class=" control-label">Usuário {{loginUsuario}}</label>
								<input type="text" class="form-control" placeholder="Escolha seu nome de usuário" ng-model="loginUsuario">
							</div>
							<div class="form-group">
								<label class="control-label">Senha {{senhaUsuario}}</label>
								<input type="password" class="form-control" placeholder="Escolha sua senha" ng-model="senhaUsuario">
							</div>
							<div class="form-group">
								<label class="control-label">Confirmação da Senha {{senhaUsuario==confirmaSenhaUsuario}}</label>
								<input type="password" class="form-control" placeholder="Confirme sua senha" ng-model="confirmaSenhaUsuario">
							</div>

						</form>

					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">
						Cancelar
					</button>
					<button type="button" class="btn btn-success" ng-click="adicionaUsuario(nomeUsuario,loginUsuario,senhaUsuario)">
						Cadastrar
					</button>

				</div>
			</div>
		</div>

		<!-- Modal de Cadastro-->

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="lib/jquery-3.1.1.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="lib/bootstrap.min.js"></script>
	</body>
</html>
